.homepage {
  background-color: fd91a6;
  height: 100%;
  position: relative;
}

.hompageText {
  font-size: 130;
}

.contactPage {
  background-color: rgb(253, 154, 66);
  height: 100%;
}

.aboutPage {
  background-color: 13635c;
  height: 100%;
}

.pageFooter {
  color: navy;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0px 8px 0px 8px;
  li {
    display: flex;
      list-style-type: none;
      padding: 0px 8px 0px 8px;
      float: right;
      overflow: hidden;
  }
}

.searchFormHome {
  color: navy;
  position: absolute;
  bottom: 80;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.searchFormHome {
  color: navy;
}

.resultsPage {
  background-color: plum;
  height: 100%;
}

.resultsContainer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.resultsTitle {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.resultsDetails {
  background-color: powderblue;
  height: 100%;
}

.resultsDetailsCard {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.resultsDetailsTitle {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.searchFormResults {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}