.loginPage {
    background-color: blue;
    height: 100%;
}

.signupPage {
    background-color: yellowgreen;
    height: 100%; 
}

.signupArea {
    position: fixed;
    bottom: 100;
    display: flex;
}

.profilePage {
    background-color: peru;
    height: 100%;  
}

input {
    width: 70%;
    height: 5%;
    margin: 3px;
}

// span {
//     background-color: peachpuff;
//     margin: 1px;  
//     padding: 5px;
//     .img {
//         margin-top: 15px;
//     }
// }

.backgroundImg {
    position: absolute;
    z-index: 1;
    margin-left: 5%;
    margin-right:5%;
}

// .authHeader {
//     position: relative;
//     z-index: 3;
// }

.authFooter {
	position: relative;
    top: 250px;
    z-index: 2;
}

.authSubmit {
    width: 20%;
    height: 5%;
    margin-bottom: 40px;
}

// .signupArea {
//     display: flex;
//     background-color: navy;
//     padding: 10px;
// }

.signupSubmit {
    margin-left: 5px;;
}