.loginPage {
    background-color: rgb(133, 35, 205);
    height: 100%;  

}

.signupArea {
    position: fixed;
    bottom: 100;
}

.signupPage {
    background-color: yellowgreen;
    height: 100%; 
}

.profilePage {
    background-color: peru;
    height: 100%;  
}

#profileTabs {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#profileTitle {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.forumPage {
    background-color: plum;
    height: 100%;    
}
